{% extends 'layout.html' %}
{% load crispy_forms_tags %}




{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-header text-center">
                        Yangi Agent qo'shish
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-block btn-outline-primary">Saqlash</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}