<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap-4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">DjangoCRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'user:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:customuser_list' %}">User</a>
            </li>
            {% if request.user.is_authenticated %}
                {% if request.user.is_organisor %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agents:agents' %}">Agents</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="">{{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout' %}"><i class="bi bi-box-arrow-right"></i></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:signup' %}">Sing Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:register' %}">Sing Up2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}
    <div class="container"></div>
{% endblock %}

<script src="{% static '/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static '/vendor/bootstrap-4/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>

</body>
</html>